@keyframes example {
    from {
        top: -100px;
        opacity: 0;
    }
    to {
        top: 0px;
        opacity: 1;
    }
}

.modal {
    /*display: none;*/
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    // ANIMATION
    animation-name: example;
    animation-duration: 1.5s;
}

.modal-content {
    background-color: #fefefe;
    margin: 200px auto;
    padding: 20px;
    border: 1px solid #888;
    width: 370px;
    height: 196px;
    border-radius: 10px;
}

h4 {
    text-align: center;
    color: #ED1E23;
    font-size: 20px;
}

.psd {
    margin: 20px auto;
    display: grid;
    grid-template-rows: 1.3fr 1fr;
}

input[type=email] {
    width: 99%;
    height: 5rem;
    font-size: 1.7rem;
    text-align: center;
    border: none;
    outline: none;
    border-bottom: 2px solid red;
}

button {
    height: 5.125rem;
    width: 16.25rem;
    border-radius: 3rem;
    font-size: 1.5rem;
    outline: transparent;
    cursor: pointer;
    background-color: #ED1E23;
    color: aliceblue;
    border: none;
    margin: 0px auto;
}

.radio {
    display: flex;
    justify-content: space-around;
    font-size: 1.8rem;
    .public,
    .private {
        display: flex;
    }
    input {
        height: 2rem;
        width: 2rem;
        margin-right: 0.2rem;
    }
}
