<div id="myModal" class="modal">
    <!-- forgot password details -->
    <div (click)="onBack(false)" style="position: absolute; left: 0; top: 0;width: 100%; height: 100%;background-color: rgba(0, 0, 0, 0.4); z-index: -1;">

    </div>
    <div class="modal-content">
        <form [formGroup]="NewFolder" (ngSubmit)="onSubmit(false)">

            <input type="email" placeholder="new Folder" formControlName="newfolder">

            <div class="psd">
                <input type="radio" id="public" name="public" value="public" checked>
                <label for="public">Public</label>
                <button type="submit">Ok</button>
                <input type="radio" id="private" name="private" value="private">
                <label for="private">Private</label>
            </div>

        </form>
    </div>

</div>