<div id="myModal" class="modal">

    <div (click)="chooseOption(false)" style=" position: absolute;left:0;top:0;width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.692);z-index: -1; "></div>
    <!-- Modal content -->
    <div class="modal-content ">
        <h3 style="color: rgba(10, 10, 10, 0.897); font-weight: bold;
      font-size: 20px;
      margin: 10px;">Request Approval</h3>
        <form [formGroup]="RequestApproval" (ngSubmit)="onSubmit(false)">
            <input type="title" placeholder="Title" formControlName="Title">
            <input type="Message" placeholder="Message" formControlName="Message">
            <input type="Date" placeholder=" Deadline" formControlName="Deadline">
            <input type="email" placeholder=" Reciever Email" formControlName="email">
            <div class="">
                <button type="submit" id="btn">Ok</button>
            </div>
        </form>
    </div>


</div>
