@import '../../../styles/components/manage-user';
@import '../../../styles/components/buttons';
.pad {
    margin: 36px;
}

h4 {
    font: 'Poppins';
    font-weight: 600;
    font-style: normal;
    font-size: 1.875rem;
}

input {
    width: 80%;
    padding: 20px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    outline: transparent;
    border-bottom: 3px solid #ED1E23;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    background: none;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ED1E23;
    opacity: 1;
    /* Firefox */
}

 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #ED1E23;
}

 ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #ED1E23;
}