.folders {
    max-height: 70vh;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    // justify-content: center;
    margin: 0px 60px;
    overflow-x: hidden;
    /* overflow: auto; */
    overflow-y: auto;
}

a {
    padding: 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    i {
        color: #459CE3;
    }
}

p {
    font-family: Poppins;
    // font-size: 16px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0em;
    width: 100px;
    color: black;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 20px;
}

.folder-container:hover .more-icon {
    opacity: 1;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.692), transparent);
    color: white;
}