.header {
    display: flex;
    justify-content: space-between;
    padding: 0.63rem 1.25rem;
    align-items: center;
}
.right-side {
    display: flex;
    align-items: center;
}
.right-side a {
    color: #ED1E23;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 18px;
    line-height:1.56rem;
}
.main {
    padding: 0.63rem 1.25rem;
}

.list {
    display: grid;
    grid-gap: 1.25rem
}
.list li {
    list-style: none;
    margin-bottom: 1.25rem;
}
.sps {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}


/*Media queries*/

@media only screen and (max-width: 845px) {
    .header {
        display: block;
        padding: 0.63rem 1.25rem;
        align-items: center;
    }
}