.content-table {
    width: 100%;
    table-layout: fixed;
    font-size: 15px;
    margin: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 5px 5px 0 0;
    border-collapse: collapse;
}

.content-table th,
.content-table td {
    padding: 15px;
}

.content-table td {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
}

.content-table thead {
    background-color: #ED1E23;
    color: #ffffff;
    display: table;
    width: 100%;
    /* width: calc(100% - 18px); */
}

.content-table thead tr th {
    text-align: revert;
    font-weight: bold;
    font-size: 20px;
}

.content-table tbody {
    max-height: 72vh;
    overflow: auto;
    overflow-x: hidden;
    display: block;
    width: 100%;
}

.content-table tbody tr {
    display: table;
    width: 100%;
    border-bottom: 1px solid #dddddd;
    table-layout: fixed;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:nth-of-type(odd) {
    background-color: #ffffff;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #ED1E23;
}

// .content-table {
//     border-collapse: collapse;
//     margin: 25px 0;
//     font-size: 18px;
//     min-width: 400px;
//     border-radius: 10px 10px 0 0;
//     //overflow: hidden;
//     width: 100%;
//     overflow-x: auto;
//     box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
//     table-layout: fixed;
//     /**
//       border-collapse: collapse;
//   margin: 25px 0;
//   font-size: 14.4px;
//   min-width: 400px;
//   border-radius: 5px 5px 0 0;
//   overflow: auto;
//   box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
//     width: 400px;
//     table-layout: fixed;
//     */
// }
// .content-table thead tr {
//     background-color: #ED1E23;
//     color: #ffffff;
//     // text-align: left;
//     font-weight: bold;
//     display: block;
//     text-align: center;
//     font-weight: bold;
// }
// .content-table tbody {
//     display: block;
//     width: 100%;
//     overflow: auto;
//     max-height: 63vh;
// }
// .content-table td {
//     white-space: nowrap;
// }
// .content-table tbody tr {
//     text-align: left;
// }
// .content-table th,
// .content-table td {
//     padding: 15px;
//     text-align: left;
//     width: 200%;
// }
// .content-table tbody tr {
//     border-bottom: 1px solid #dddddd;
//     background-color: #ffffff;
// }
// /* give each second child a background of light grey*/
// .content-table tbody tr:nth-of-type(even) {
//     background-color: #f3f3f3;
// }
// .content-table tbody tr:last-of-type {
//     border-bottom: 2px solid #ED1E23;
// }

/*********/

.header {
    display: flex;
    justify-content: space-between;
    padding: 1.63rem 1.25rem;
    align-items: center;
}

h2 {
    font: 'Poppins';
    font-weight: 900;
    font-style: normal;
    font-size: 30px;
}

.right-side {
    display: flex;
    align-items: center;
}

.right-side a {
    color: #ED1E23;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 18px;
    line-height: 1.56rem;
}

.main {
    padding: 0 1.25rem;
    overflow-x: auto;
}


/*Media queries*/

@media only screen and (max-width: 845px) {
    .header {
        display: block;
        padding: 0.63rem 1.25rem;
        align-items: center;
    }
}