@import '../../../../styles/components/modal';
@import '../../../../styles/components/buttons';
.details {
    position: relative;
    background: #F6F6F6;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 1rem;
    margin-bottom: 10px;
}

.user-details {
    line-height: 25px;
}

i {
    margin-top: 20px;
    font-size: 20px;
    color: #71B71B;
}

#hidden {
    opacity: 0;
}

.icon {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.details:hover>.user-details+.icon>#hidden {
    opacity: 1;
    // background: linear-gradient( rgba(0, 0, 0, 0.692), transparent);
    // color: white;
}

.smart-tooltip {
    height: 40px;
    width: 50px;
    h3 {
        font-size: 12px;
    }
}

.mydisplay {
    display: block;
}

// #tooltip {
//     height: 15px;
//     width: 40px;
// }
