<div class="details" *ngFor="let item of sentRequests|async">
    <div class="user-details" style="font-size: 14px;">
        <h2><span style="font-weight: bold;">title:<br></span> {{item.title}}</h2>
        <p><span style="font-weight: bold;">To:<br></span> {{item.approverId | truncate: 20}}</p>
        <p><span style="font-weight: bold;">created:</span> {{item.dateCreated}}</p>
        <p *ngIf="item.approvedMessage"><span style="font-weight: bold;">Response from:<br></span> <span>{{item.approverId}}<br></span>
            <span>{{item.approvalMessage}}</span>
        </p>
        <p *ngIf="item.returnedDocumentUrl">download response document <a [href]="item.returnedDocumentUrl">here</a></p>
    </div>
    <div class="icon">

        <h6 smart-tooltip-container class="clicktoshow">
            <img src="../../../../assets/dots.png" style="height: 35px; width: 35px; cursor: pointer;">
            <span class="smart-tooltip overlay" style="height: auto; width:auto;">
            <h4 style="color: white; cursor: pointer;"  (click)="onDelete()">Delete</h4>
            </span>
        </h6>
        <!-- <a id="del" class=del> Delete</a> -->
        <i *ngIf="item.approvalStatus" class="fa fa-check-circle"></i>
    </div>


</div>
<!-- Modal to Delete a message -->
<div id="myModal" class="modal">

    <div (click)="unDelete()" style=" position: absolute;left:0;top:0;width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.4);z-index: -1; "></div>
    <!-- Modal content -->
    <div class="modal-content ">
        <h4>Are you sure you want to Delete?</h4>
        <div class="submit ">
            <button style="background-color: rgb(250, 250, 250); border-color: rgb(192, 247, 111); " (click)="DeleteMess()">Yes</button>
            <button id="btn" (click)="unDelete()">No</button>
        </div>
    </div>
</div>
