<div class="Mycontainer">
    <div class="folders">
        <router-outlet></router-outlet>
    </div>
    <div class="user-permissions">

        <input type="checkbox" id="open-chat">
        <label for="open-chat" style="display: flex;">
                    <span class="material-icons more__horiz" style="cursor: pointer;">
                        more_horiz
                        </span>
                </label>
        <div class="user-perimissions__icons">
            <span class="material-icons add__task" (click)="onOpenApprovals()" style="cursor: pointer;">
                        add_task
                        </span>

            <span class="material-icons email" (click)="onOpenChat()" style="cursor: pointer;">
                            email
                            </span>
        </div>


        <app-permissions class="app"></app-permissions>
    </div>
</div>