    /*.folders {
    // border: 1px solid red;
}*/

    .container {
        //grid-area: main;
        border-top-left-radius: 3.13rem;
        background-color: #e5e5e5;
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 3fr 1fr;
    }

    .folders {
        height: calc(100vh - 6.8rem);
        // width: 60vw;
    }

    .user-permissions {
        background: #ffffff;
        margin-top: 1.88rem;
        border-top-left-radius: 0.63rem;
        border-top-right-radius: 0.63rem;
        // width: 100%;
        // -webkit-box-shadow: -1px -1px 5px -2px rgba(0, 0, 0, 0.75);
        // -moz-box-shadow: -1px -1px 5px -2px rgba(0, 0, 0, 0.75);
        // box-shadow: -1px -1px 5px -2px rgba(0, 0, 0, 0.75);
    }

    .user-permissions__icons,
    input {
        display: none;
    }

    @media screen and (max-width: 800px) {
        .container {
            display: block;
            margin: 3rem 1rem;
            border-top-left-radius: 0rem;
        }
        // .user-permissions {
        //     width: 100%;
        //     // z-index: 200;
        // }
        .user-permissions__icons,
        label {
            display: block;
            z-index: 100;
        }
        .user-permissions {
            position: absolute;
            top: 0px;
            right: 0.1rem;
            background: transparent;
            span {
                font-size: 3rem;
                color: white;
                padding: 10px;
                border-radius: 50%;
                box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.36);
                -webkit-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.36);
                -moz-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.36);
            }
        }
        .user-perimissions__icons {
            display: flex;
            flex-direction: column;
            position: absolute;
            right: 0.3rem;
            // top: 45rem;
            top: 67vh;
            transition: all .2s;
            transform: scaleY(0);
            opacity: 0;
            transform-origin: bottom;
            span {
                margin: 1rem 0rem;
            }
        }
        .add__task {
            background: #459CE3;
            transition: all 0.6s;
        }
        .email {
            background: #81BE36;
            transition: all 0.5s;
        }
        .more__horiz {
            background: #000000;
            margin-top: 1rem;
            right: 0.3rem;
            position: absolute;
            // top: 60rem;
            top: 85vh;
        }
        #open-chat:checked~.user-perimissions__icons {
            display: block;
            transform: scaleY(1);
            opacity: 1;
        }
        .app {
            // display: block;
            position: absolute;
            right: 30rem;
            margin: 20rem auto;
            background: rgba(0, 0, 0, 0.21);
            // width: 100%;
            // right: 18rem;
        }
    }
<<<<<<< HEAD
=======
    
    @media screen and (max-width: 400px) {
        .user-perimissions__icons {
            top: 41rem;
            top: 63vh;
        }
        .more__horiz {
            // top: 55rem;
            top: 80vh;
        }
    }
>>>>>>> 352d7712cc9c17aef5cbad753ce58d67945e653b
