@import '../../../styles/components/item-box';
@import '../../../styles/components/manage-user';
.content-table thead tr th {
    text-align: left;
    font-weight: bold;
    font-size: 20px;
}

.main {
    margin-top: 20px;
}

.name {
    float: left;
}

.h2 {
    float: right;
    i,
    span {
        font-weight: 500;
        font-style: normal;
        font-size: 26px;
        cursor: pointer;
    }
}