<div class="header">
    
    <h2><span (click) = "back()" class="material-icons back">
        arrow_back
      </span>User Access Privileges</h2>
    <!-- <div class="right-side">

         <a class="active" (click)="addPage()">Add a New user</a>
    </div>  -->
</div>

<div class="main">
    <table class="content-table">
        <!-- heading of the table ---->
        <thead>
            <tr>
                <th>Teams</th>
                <th></th>
            </tr>
        </thead>
        <!---- content in the table-->
        <tbody>
            <tr *ngFor="let item of sections">
                <td class="name">{{item.name }}</td>
                <!----Action tools-->
                <td class="h2">
                    <i *ngIf="!existInAccessList(item.id) " class="material-icons" style="color: #ED1E23;" (click)="add(item.id)">
                        control_point
                    </i>

                    <span *ngIf="existInAccessList(item.id) " (click)="unAdd(item.id)" class="material-icons" style="color: green;">
                        check_circle_outline
                    </span>
                </td>

            </tr>
        </tbody>
    </table>
    <!-- <div class="content-1">
    </div>

    <div class="list-container">
        <ul class="list" *ngFor="let item of sections">
            <li>
                <div class="box-1">
                    <h2>{{item.name}}</h2>
                    <h2>
                        <i *ngIf="!existInAccessList(item.id) " class="material-icons" style="color: #ED1E23;" (click)="add(item.id)">
                        control_point
                    </i>

                        <span *ngIf="existInAccessList(item.id) " (click)="unAdd(item.id)" class="material-icons" style="color: green;">
                        check_circle_outline
                    </span>

                    </h2>
                </div>
            </li>

        </ul>
    </div> -->

</div>