@import '../../../styles/components/item-box';
@import '../../../styles/components/manage-user';
.h2 {
    float: right;
    i,
    span {
        font-weight: 500;
        font-style: normal;
        font-size: 26px;
        cursor: pointer;
    }
}