<div class="Mycontainer">
    <input type="checkbox" name="check" id="check">
    <label for="check" class="app-nav-bar">
        <app-nav-bar></app-nav-bar>
    </label>
    <div class="menu" (click)="onToggleMenu()">
        <app-menu></app-menu>
    </div>
    <div class="app-content">
        <router-outlet></router-outlet>
    </div>
    <!-- <app-content></app-content> -->
</div>
<!-- <div class="modal" *ngIf="modalState">
    <app-modal></app-modal>
     [ngStyle]="{'display': (screen && showMenu)? 'block': 'none'}"
</div> -->
