<div class="header">
    <h1>Manage User Groups</h1>
    <div class="right-side">
        <i class="material-icons" style="color: rgba(113, 183, 27, 0.88);">
              control_point
          </i>
        <a class="active" href="#home">Add a New folder</a>
    </div>
</div>

<div class="main">

    <div class="content-1">
        <h5>Group Name</h5>
        <h5>No. of People</h5>
        <h5>Date Created</h5>
        <h5>Action</h5>
    </div>

    <ul class="list">

        <div class="box-1">
            <h2>Finance Deparment</h2>
            <h2>13</h2>
            <h2>22-12-2009</h2>
            <h2>
                <span class="material-icons" style="background-color: white;">
                          create
                          </span>
                <span class="material-icons" style="background-color: white;">
                      delete
                      </span>
            </h2>
        </div>

        <div class="box-1">
            <h2>Party Planners</h2>
            <h2>5</h2>
            <h2>22-09-11</h2>
            <h2>
                <span class="material-icons" style="background-color: white;">
                          create
                          </span>
                <span class="material-icons" style="background-color: white;">
                      delete
                      </span>

            </h2>
        </div>

    </ul>


</div>
