$border-color: #dadce0;
$hover-color: #f1f3f4;
$grey-color: #5f6368;
$dark-grey-color: #515458;
$blue:#1a73e8;
$shadow: 0 1px 2px 0 rgba(60, 64, 67, .3),
0 1px 3px 1px rgba(60, 64, 67, .15);
@mixin flex($side: "none") {
    display: flex;
    @if ($side=="none") {
        justify-content: center;
    }
    @else {
        justify-content: $side;
    }
    align-items: center;
}

@mixin square($dim) {
    height: $dim;
    width: $dim;
}

@mixin heading() {
    font-size: 44px;
    line-height: 5.4rem;
    font-weight: 500;
}

@mixin active() {
    padding: 6px 10px;
    box-shadow: $shadow;
    border-radius: 2px;
}

html,
body {
    // overflow: auto !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    height: auto !important;
    width: auto !important;
    min-width: auto !important;
}

.landing {
    background-position: -185rem -217rem;
    .background-image {
        position: absolute;
        top: -220rem;
        left: -145rem;
        z-index: 0;
    }
    .nav-bar {
        position: relative;
        @include flex();
        z-index: 1;
        background-color: white;
        &__left {
            @include flex("left");
            .brand-image {
                width: 10rem;
                margin: 1rem;
            }
            .brand-text {
                font-size: 2rem;
            }
        }
        &__middle {
            flex-grow: 1;
            @include flex();
            .nav-item {
                margin: 0rem 2rem;
                color: $grey-color;
                transition: color 0.2s;
                cursor: pointer;
                &:hover {
                    color: $dark-grey-color;
                }
            }
            .active {
                @include active();
            }
        }
        &__right {
            .btn {
                border: 1px solid $border-color;
                border-radius: 0.5rem;
                &:hover {
                    background-color: #f1f3f4;
                }
                margin: 0rem 1rem;
            }
        }
    }
    .front {
        height: 100vh;
        z-index: 1;
        position: relative;
        @include flex();
        &__left {
            color: white;
            height: 100%;
            @include flex();
            flex-direction: column;
            .main-header {
                font-size: 52px;
                line-height: 62px;
                font-weight: 500;
                font-family: "Google Sans", sans-serif;
                text-align: left;
                margin: 2rem 0rem 2rem 8rem;
            }
            .sub-header {
                font-size: 24px;
                line-height: 26px;
                font-weight: 400;
                text-align: left;
                font-family: "Google Sans", sans-serif;
                margin: 2rem 0rem 2rem 8rem;
            }
            .actions {
                @include flex(flex-start);
                width: 100%;
                margin: 0rem 0rem 2rem 12rem;
                &>* {
                    margin: 0rem 2rem;
                    cursor: pointer;
                }
            }
        }
        &__right {
            height: 100%;
            width: 50%;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    .panel {
        position: relative;
        background-color: white;
        box-shadow: $shadow;
        border-radius: 1.6rem;
        z-index: 1;
        margin: 6rem;
        width: calc(100vw-4rem);
        .panel__container {
            padding: 80px 10px;
            display: flex;
            flex-direction: column;
            .panel__header {
                h1 {
                    @include heading();
                    text-align: center;
                    margin: 30px;
                }
            }
            .panel__cards {
                margin: 50px 0;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                .card_details {
                    border-radius: 16px;
                    background: #f8f9fa;
                    box-shadow: $shadow;
                    height: 100%;
                    padding: 40px 20px 30px;
                    text-align: center;
                    margin: 2rem;
                    @include flex();
                    flex-direction: column;
                    @media screen and (min-width: 1100px) {
                        flex-basis: 25%;
                    }
                    @media screen and (max-width:1045px) {
                        flex-basis: 80%;
                    }
                    .build {
                        padding: 25px;
                        font-size: 35px;
                        line-height: 54px;
                        line-height: 12px;
                        font-weight: 500;
                    }
                    p {
                        font-size: 21px;
                        line-height: 35px;
                        font-weight: 300;
                        font-family: "Google Sans", sans-serif;
                        min-height: 20px;
                        // margin: 10px 0px;
                        padding: 16px 24px;
                    }
                    .panel_links {
                        a {
                            font-size: 22px;
                            line-height: 16px;
                            font-weight: 500;
                            font-family: "Google Sans", sans-serif;
                            color: #1a73e8;
                            display: inline-block;
                            margin: 20px 0 0;
                            min-width: 248px;
                            padding: 15px 0;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

.get_started {
    align-items: center;
    box-sizing: content-box;
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    justify-content: center;
    margin: 0 48px;
    text-align: center;
    padding: 70px;
    .heading {
        @include heading();
        text-align: center;
        line-height: 6.4rem;
    }
    .intro {
        font-size: 20px;
        line-height: 7rem;
    }
    .brand-image {
        width: 35rem;
        margin: 2rem auto;
    }
}

.news {
    .image {
        width: 20rem;
    }
    .card_details {
        background: transparent !important;
        box-shadow: none !important;
        border-radius: 0px !important;
        margin: 1rem !important;
        flex-basis: 27% !important;
        padding: 10px !important;
        .news_details_section {
            display: flex;
            flex-direction: column;
            .news__details {
                font-size: 16px !important;
                line-height: 27px !important;
                font-weight: 300 !important;
                font-family: "Google Sans", sans-serif;
                min-height: 20px !important;
                padding: 0px 10px !important;
                text-align: left !important;
            }
            .news_details_links {
                text-align: left;
                padding: 15px 0px 15px 10px;
            }
        }
        .news_heading {
            padding: 25px 5px;
            font-size: 18px;
            line-height: 24px;
            font-weight: 600;
        }
    }
}

.btn-big-white {
    background-color: white;
    color: $blue;
    border-radius: 1rem;
    color: $dark-grey-color;
    padding: 1rem 1.5rem;
    &:hover {
        background-color: $hover-color;
    }
}

.btn-big-blue {
    background-color: $blue;
    color: white;
    font-size: 20px;
    letter-spacing: .21px;
    line-height: 16px;
    padding: 20px 52px;
    border-radius: 0.8rem;
}

.prices {
    .price__heading {
        padding-bottom: 3rem;
    }
    .image {
        width: 20rem;
    }
    .list_section {
        // margin: 10px auto;
        a {
            padding: 1rem;
            border-radius: 5px;
            background: $blue;
            color: white;
        }
        ul {
            padding: 20px;
        }
        li {
            // margin: 8px;
            list-style: inside;
            text-align: left;
        }
    }
    .plan_month {
        padding: 2rem 0rem 0rem 0rem;
        h3 {
            color: $blue;
            line-height: 5rem;
            font-weight: 700;
            font-size: 5rem;
        }
        small {
            font-size: 1.5rem;
            font-weight: 500;
        }
    }
}