<div style="background-image: url(assets/background.svg);" class="landing">
    <div class="nav-bar">
        <div class="nav-bar__left brand">
            <img class="brand-image" src="assets/konvy.png" alt="">
            <!-- <div class="brand-text">Konvy</div> -->
        </div>
        <div class="nav-bar__middle">
            <div class="nav-item">About Us</div>
            <div class="nav-item">Pricing</div>
            <div class="nav-item">FAQs</div>
        </div>
        <div class="nav-bar__right">
            <button class="btn btn-sign-in">Sign In</button>
            <button class="btn btn-sign-up">Sign Up</button>
        </div>
    </div>
    <div class="front">
        <div class="front__left">
            <div class="main-header">Konvy helps you build and run successful business</div>
            <div class="sub-header">Backed by Google and loved by app development teams - from startups to global enterprises</div>
            <div class="actions">
                <button class="btn-get-started btn-big-white">Get Started</button>
                <div class="demo">Try Demo</div>
            </div>
        </div>
        <div style="background-image: url(assets/filing.svg);" class="front__right">

        </div>
    </div>
    <div class="panel">
        <div class="panel__container">
            <header class="panel__header">
                <h1>Products and solutions you can rely on Through your app's journey</h1>
            </header>
            <div class="panel__cards">
                <div class="panel_card_col left">
                    <div class="card_details">
                        <img srcset="https://firebase.google.com/images/homepage/home-icon-build_2x.png 2x,https://firebase.google.com/images/homepage/home-icon-build.png 1x" src="/images/homepage/home-icon-build.png" alt="Build Illustration">
                        <h5 class="build">Build</h5>
                        <p>Accelerate app development with fully managed backend infrastructure
                        </p>
                        <div class="panel_links">
                            <a href="#">View all build products</a>
                            <ul>
                                <li>lorem ipsum</li>
                                <li>lorem ipsum</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel_card_col middle">
                    <div class="card_details">
                        <img srcset="https://firebase.google.com/images/homepage/home-icon-build_2x.png 2x,https://firebase.google.com/images/homepage/home-icon-build.png 1x" src="/images/homepage/home-icon-build.png" alt="Build Illustration">
                        <h5 class="build">Build</h5>
                        <p>Accelerate app development with fully managed backend infrastructure
                        </p>
                        <div class="panel_links">
                            <a href="#">View all build products</a>
                            <ul>
                                <li>lorem ipsum</li>
                                <li>lorem ipsum</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel_card_col right">
                    <div class="card_details">
                        <img srcset="https://firebase.google.com/images/homepage/home-icon-build_2x.png 2x,https://firebase.google.com/images/homepage/home-icon-build.png 1x" src="/images/homepage/home-icon-build.png" alt="Build Illustration">
                        <h5 class="build">Build</h5>
                        <p>Accelerate app development with fully managed backend infrastructure
                        </p>
                        <div class="panel_links">
                            <a href="#">View all build products</a>
                            <ul>
                                <li>lorem ipsum</li>
                                <li>lorem ipsum</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel">

    </div>
    <div class="get_started">
        <img class="brand-image" src="assets/konvy.png" alt="">
        <h1 class="heading">Try Konvy Today</h1>
        <h5 class="intro">Integrating your app is easy</h5>
        <button class=" btn-big-blue">Get Started</button>

    </div>
</div>