$border-color: #dadce0;
$hover-color: #f1f3f4;
$grey-color: #5f6368;
$dark-grey-color: #515458;
$blue:#1a73e8;
$shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);

@mixin flex($side: "none") {
    display: flex;
    @if ($side == "none") {
        justify-content: center;
    } @else {
        justify-content: $side;
    }

    align-items: center;
}

@mixin square($dim) {
    height: $dim;
    width: $dim;
}
html,body{
    // overflow: auto !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    height: auto !important;
    width: auto !important;
}
.landing {
    background-position: -185rem -217rem;
    .background-image {
        position: absolute;
        top: -220rem;
        left: -145rem;
        z-index: 0;
        
    }
    .nav-bar {
        position: relative;
        @include flex();
        z-index: 1;
        background-color: white;
        &__left {
            @include flex("left");
            .brand-image {
                // @include square(3rem);
                // border-radius: 50%;
                width: 10rem;
                margin: 1rem;
            }
            .brand-text {
                font-size: 2rem;
            }
        }
        &__middle {
            flex-grow: 1;
            @include flex();
            .nav-item {
                margin: 0rem 2rem;
                color: $grey-color;
                transition: color 0.2s;
                cursor: pointer;
                &:hover {
                    color: $dark-grey-color;
                }
            }
        }

        &__right {
            .btn {
                border: 1px solid $border-color;
                border-radius: 0.5rem;
                &:hover {
                    background-color: #f1f3f4;
                }
                margin: 0rem 1rem;
            }
        }
    }
    .front {
        height: 100vh;
        z-index: 1;
        position: relative;
        @include flex();
        &__left {
            color:white;
            height: 100%;
            @include flex();
            flex-direction: column;
            .main-header {
                font-size: 52px;
                line-height: 62px;
                font-weight: 500;
                font-family: "Google Sans", sans-serif;
                text-align: left;
                margin: 2rem 0rem 2rem 8rem;
            }
            .sub-header{
                font-size: 24px;
                line-height: 26px;
                font-weight: 400;
                text-align: left;
                font-family: "Google Sans",sans-serif;
                margin: 2rem 0rem 2rem 8rem;
            }
            .actions{
                @include flex(flex-start);
                width: 100%;
                margin: 0rem 0rem 2rem 12rem;
                &>*{
                    margin:0rem 2rem;
                    cursor: pointer;
                }
            }
        }
        &__right {
            height: 100%;
            width: 50%;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    .panel{
        position: relative;
        height: 80rem;
        background-color: white;
        box-shadow: $shadow;
        border-radius: 1.6rem;
        z-index: 1;
        margin: 2rem;
        width: calc(100% - 4rem);
    }
}


.btn-big-white{
    background-color: white;
    color: $blue;
    border-radius: 1rem;
    color:$dark-grey-color;
    padding: 1rem 1.5rem;
    &:hover{
        
        background-color: $hover-color;
    }
}
