<div style="background-image: url(assets/background.svg);" class="landing">
    <div class="nav-bar">
        <div class="nav-bar__left brand">
            <img class="brand-image" src="assets/konvy.png" alt="">
            <!-- <div class="brand-text">Konvy</div> -->
        </div>
        <div class="nav-bar__middle">
            <div class="nav-item" (click)="onClickScroll('about')">About</div>
            <div class="nav-item" (click)="onClickScroll('features')">Features</div>
            <div class="nav-item" (click)="onClickScroll('prices')">Pricing</div>

        </div>
        <div class="nav-bar__right">
            <button class="btn btn-sign-in " routerLink="/login">Sign In</button>
            <button class="btn btn-sign-up" routerLink="/SignUp">Sign Up</button>
        </div>
    </div>
    <div class="front" id="about">
        <div class="front__left">
            <div class="main-header">Konvy integrates all the storage, communication and approval channels of your business into one place</div>
            <div class="sub-header">Backed by Cloud solution and loved by businesses - from startups to global enterprises</div>
            <div class="actions">
                <button class="btn-get-started btn-big-white" routerLink="/SignUp">Get Started</button>
                <!-- <div class="demo">Try Demo</div> -->
            </div>
        </div>
        <div style="background-image: url(assets/filing.svg);" class="front__right">

        </div>
    </div>
    <div class="panel">
        <div class="panel__container" id="features">
            <header class="panel__header">
                <h1><strong>Features</strong></h1>
                <h2 style="text-align: center;">Solutions you can rely on Through your business journey</h2>
            </header>
            <div class="panel__cards">
                <!-- <div class="panel_card_col left"> -->
                <div class="card_details">
                    <img src="../../assets/CloudHosting.svg" class="img">
                    <h3 class=""><strong>Cloud storage & multi-accounts</strong></h3>
                    <p>Secured and safe storage for all your documents and an alternative to download files for offline use and local backup. Choose from a diverse range of account packages that allows you to create multi employee accounts under your business’s
                        primary account.
                    </p>
                    <!-- <div class="panel_links">
                        <a href="#">View all build products</a>
                       
                    </div> -->
                </div>
                <!-- </div> -->
                <!-- <div class="panel_card_col middle"> -->
                <div class="card_details">
                    <img src="../../assets/VideoConferencing.svg" class="img">
                    <h3 class=""><strong>Video conferencing & Messaging</strong></h3>
                    <p>Great video conferencing and messaging tools to interact conveniently with team members anywhere in the world.
                    </p>
                    <!-- <div class="panel_links">
                        <a href="#">View all build products</a>
                       
                    </div> -->
                </div>
                <!-- </div> -->
                <!-- <div class="panel_card_col right"> -->
                <div class="card_details">
                    <img src="../../assets/ApprovalWorkflow.svg" class="img">
                    <h3 class=""><strong>Approval Workflow</strong></h3>
                    <p>Easy access to send all approval requests to the required supervisor and get all your documents approved in a jiffy.
                    </p>
                    <!-- <div class="panel_links">
                        <a href="#">View all build products</a>
                       
                    </div> -->
                </div>
                <!-- </div> -->
            </div>
        </div>
    </div>
    <div class="panel">
        <!---NEWS SECTION-->
        <div class="panel__container product">
            <header class="panel__header">
                <h1>Product Benefits</h1>
            </header>
            <div class="panel__cards news">
                <div class="card_details">
                    <img src="../../assets/files.svg" class="image">
                    <h5 class="news_heading">Improved Flexibility and Agility</h5>
                    <div class="news_details_section">
                        <p class="news__details">Konvy enables you to access important documents conveniently from anywhere you are in the world, it means you get the information you need, whenever you need it. </p>
                        <!-- <a class="news_details_links">Read more</a> -->
                    </div>


                </div>
                <div class="card_details">
                    <img src="../../assets/SecureData.svg" class="image">
                    <h5 class="news_heading">Enforced Data Security</h5>
                    <div class="news_details_section">
                        <p class="news__details"> Konvy protects your valuable data from getting missing, lost, destroyed or stolen. The future of data storage is in the cloud and Konvy ensures that your business is part of the future.</p>

                    </div>


                </div>
                <div class="card_details">
                    <img src="../../assets/CostEffectiveness.svg" class="image">
                    <h5 class="news_heading">Guaranteed Cost Effectiveness</h5>
                    <div class="news_details_section">
                        <p class="news__details">Konvy provides your business the ease of storing data in the most cost effective way by eliminating the investment needed to acquire a hardware storage system. </p>

                    </div>


                </div>

                <div class="card_details">
                    <img src="../../assets/TeamAccessPrivelages.svg" class="image">
                    <h5 class="news_heading">Team Access Privileges</h5>
                    <div class="news_details_section">
                        <p class="news__details">Konvy ensures that sensitive data stored in private directorates are only made accessible to team members with access privileges.
                        </p>

                    </div>


                </div>

                <div class="card_details">
                    <img src="../../assets/DataRecovery.svg" class="image">
                    <h5 class="news_heading">Data Recovery</h5>
                    <div class="news_details_section">
                        <p class="news__details">Konvy allows your business to use the system as a backup storage to keep copies of important documents that can be accessed via the internet from anywhere you are.
                        </p>

                    </div>


                </div>

                <div class="card_details">
                    <img src="../../assets/CostlyInfrastructure.svg" class="image">
                    <h5 class="news_heading">Eliminate the need for costly infrastructure</h5>
                    <div class="news_details_section">
                        <p class="news__details"> Konvy gives your business access to all available services when you pay a subscription fee, without worrying about the cost of infrastructure and maintenance.</p>

                    </div>


                </div>
            </div>
        </div>
        <!--NEWS SECTION-->
    </div>
    <!---PRICING-->
    <div class="panel" id="prices">
        <div class="panel__container">
            <header class="panel__header">
                <h1>Pricing</h1>
            </header>
            <div class="panel__cards prices">
                <div class="card_details ">
                    <h2 class="price__heading">Basic Plan</h2>
                    <!-- <img src="../../assets/bitcoin.svg" class="image"> -->
                    <!-- <h1 class="price__number">price</h1> -->
                    <div class="price plan_month">
                        <h3><sup>$</sup>99</h3><small>/month</small></div>
                    <div class="list_section">
                        <ul>
                            <li>500 GB Storage</li>
                            <li>Collaborate with up to 10 team members</li>
                        </ul>
                        <a routerLink="/SignUp">Try 30 days for free</a>
                    </div>


                </div>
                <div class="card_details ">
                    <h2 class="price__heading">Advanced Plan</h2>
                    <!-- <img src="../../assets/bitcoin.svg" class="image"> -->
                    <!-- <h1 class="price__number">price</h1> -->
                    <div class="price plan_month">
                        <h3><sup>$</sup>299</h3><small>/month</small></div>
                    <div class="list_section">
                        <ul>
                            <li>500 GB Storage</li>
                            <li>Collaborate with up to 50 team members</li>
                        </ul>
                        <a routerLink="/SignUp">Try 30 days for free</a>
                    </div>


                </div>
                <div class="card_details ">
                    <h2 class="price__heading">Premium Plan</h2>
                    <!-- <img src="../../assets/bitcoin.svg" class="image"> -->
                    <!-- <h1 class="price__number">price</h1> -->
                    <div class="price plan_month">
                        <h3><sup>$</sup>499</h3><small>/month</small></div>
                    <div class="list_section">
                        <ul>
                            <li>1 TB Storage</li>
                            <li> Collaborate with up to 500 team members</li>
                        </ul>
                        <a routerLink="/SignUp">Try 30 days for free</a>
                    </div>


                </div>

            </div>


            <!---PRICING-->

        </div>
    </div>
    <div class="get_started">
        <img class="brand-image" src="assets/konvy.png" alt="">
        <h1 class="heading">Try Konvy Today</h1>
        <h5 class="intro">Convinient and easy management of your documents</h5>
        <button class=" btn-big-blue" routerLink="/SignUp">Get Started</button>

    </div>
</div>