<div>
    <div id="d-box" class="downbox" (click)="openChat()">
        <h1>Chats</h1>
        <i class="fa fa-arrow-up"></i>
    </div>
    <div class="chatbox">
        <div id="friends-list">

            <div id="topmenu" (click)="closeChat()">
                <div class="upbox">
                    <h1>Chats</h1>
                    <span class="material-icons">
                    keyboard_arrow_down
                    </span>
                </div>
            </div>
            <div style="height: 85%;
           overflow:auto">
                <div id="friends" *ngFor="let item of chats; let i=index">
                    <div class="friend" (click)="OpenChat(i)">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/1_copy.jpg" />
                        <div class="tttt">
                            <h6><strong>{{item.name| tilteCase}}</strong></h6>
                            <span>{{item.email}}</span>

                        </div>
                    </div>
                    <hr/>
                </div>

                <div id="search">
                    <input type="text" id="searchfield" placeholder="Search contacts..." />
                </div>
            </div>
        </div>

        <div id="chatview">
            <div id="profile">

                <div class="lft">
                    <i class="fa fa-arrow-left" (click)="back()"></i>
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/1_copy.jpg" />
                    <h4><strong>John</strong></h4>

                </div>
                <div class="rft">
                    <span class="material-icons">
                  videocam
                  </span>
                    <span class="material-icons">
                    local_phone
                    </span>
                </div>



            </div>
            <div id="chat-messages">
                <label>Thursday 02</label>
                <div class="message">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/1_copy.jpg" />
                    <div class="bubble">
                        <h5>
                            some banku some banku some banku some banku some banku
                        </h5>
                        <!-- <div class="corner"></div>
                      <span>3 min</span> -->
                    </div>
                </div>

                <div class="message-right">

                    <div class="bubble">
                        Can you share a link for the tutorial?
                        <div class="corner"></div>
                        <span>1 min</span>
                    </div>
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/2_copy.jpg" />
                </div>
            </div>

            <div id="sendmessage">
                <input type="text" placeholder="Send message..." />
                <button id="send"></button>
            </div>

        </div>

    </div>