<div class="header">
    <h1>mr.adumatta@gmail.com</h1>
    <div class="right-side">
        <span class="material-icons">
          create
          </span>
        <a class="active" href="#home">Edit user</a>
        <span class="material-icons">
          delete
          </span>
        <a class="active" href="#home">Delete user</a>
    </div>
</div>

<div class="main">

    <div class="content-1">
        <h5>User Group Name</h5>
        <h5>Role</h5>
        <h5>Action</h5>
    </div>

    <ul class="list">

        <div class="box-1">
            <h2>Finance</h2>
            <h2>Director</h2>
            <h2>
                <span class="material-icons" style="background-color: white;">
                      create
                      </span>
                <span class="material-icons" style="background-color: white;">
                  delete
                  </span>
            </h2>
        </div>

        <div class="box-1">
            <h2>Lawyers</h2>
            <h2>Cleaner</h2>
            <h2>
                <span class="material-icons" style="background-color: white;">
                      create
                      </span>
                <span class="material-icons" style="background-color: white;">
                  delete
                  </span>

            </h2>
        </div>

    </ul>


</div>
