<div class="header">
    <h2>mr.adumatta@gmail.com</h2>
    <div class="right-side">
        <span class="material-icons">
          create
          </span>
        <a class="active" href="#home">Edit user</a>
        <span class="material-icons">
          delete_outline
          </span>
        <a class="active" href="#home">Delete user</a>
    </div>
</div>

<div class="main">

    <div class="content-1">
        <h5>User Group Name</h5>
        <h5>Role</h5>
        <h5>Action</h5>
    </div>

  <div class="list-container">
        <ul class="list" *ngFor="let user of userGroups" >
            <li>
              <div class="box-1">
            <h2>{{user.usergroupName}}</h2>
            <h2>{{user.role}}</h2>
            <h2>
               <div class="sps">
                            <span class="material-icons" style="background-color: white;">
                      create
                      </span>
                            <span class="material-icons" style="background-color: white;">
                 delete_outline
                  </span>
                        </div>
            </h2>
        </div>
            </li>

        </ul>
    </div>

</div>
