@import '../../../styles/components/item-box';
@import '../../../styles/components/manage-user';
.header span {
    color: #ED1E23;
    border: 1px solid #ED1E23;
    border-radius: 50%;
    font-size: 16px;
    padding: 5px;
}

.content-1 {
    display: grid;
    grid-template-columns: 2.5fr 1.5fr 0.5fr;
    grid-gap: 2px;
    padding: 10px 36px;
}

.box-1 {
    display: grid;
    grid-template-columns: 2.3fr 1.5fr 0.5fr;
    grid-gap: 2px;
    background-color: #ffffff;
    // padding: 1rem 0.63rem 0.2rem 0.63rem;
    border-radius: 35px;
}

.box-1>h2 {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 4px 8px;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
}