.login-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

h1 {
    font-size: 30px;
    font-weight: 800;
}

// .right-side {
//     // background: #e9eeF4;
// }
.change {
    display: contents;
    a {
        // height: 6.5rem;
        // width: 18rem;
        // text-align: center;
        // background: rgb(111, 202, 224);
        font-family: "Poppins";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 60px;
        // margin-right: 65px;
        // border-radius: 20px;
        // margin-top: 20px;
    }
    a:hover {
        color: #009CAA;
        cursor: pointer;
        strong {
            font-weight: bold;
        }
    }
}

.login-box {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 1fr 6fr;
    box-sizing: border-box;
    padding-left: 40px;
}

.logo img {
    width: 19.25rem;
    height: 5.56rem;
    // margin-left: 4.3rem;
    margin-top: 1.63rem;
    margin-left: 20px;
}

form {
    font-family: 'Poppins';
    background: #FFFFFF;
    width: 90%;
    margin-top: 1.13rem;
    border-radius: 1.25rem;
    // -webkit-box-shadow: -1px -1px 5px -2px rgba(0, 0, 0, 0.75);
    // -moz-box-shadow: -1px -1px 5px -2px rgba(0, 0, 0, 0.75);
    // box-shadow: -1px -1px 5px -2px rgba(0, 0, 0, 0.75);
    box-sizing: border-box;
    padding: 1.25rem;
    margin-left: 1.25rem;
}

.Mycontainer {
    display: grid;
    //grid-template-rows: 2fr 1.2fr 1fr 3fr 3fr 1.3fr;
    // grid-template-rows: 1fr 1.2fr 1fr 1fr 3fr 1.3fr;
    h3 {
        font-family: 'Poppins';
        font-size: 20px;
        font-style: normal;
        font-weight: 900;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        color: #009CAA;
    }
}

.email-checker {
    text-align: center;
    margin: 1.50rem;
    color: red;
}

input[type=email],
input[type=password] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid;
    box-sizing: border-box;
    font-family: "Poppins";
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    border-radius: 10px;
}

.forgot-password {
    margin-top: 1.25rem;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 2fr 1fr;
    font-size: 1.6rem;
    input {
        width: 1.8rem;
        height: 1.8rem;
        margin-right: 0.63rem;
        // margin-top: 0.19rem;
    }
}

button {
    height: 6.5rem;
    width: 18rem;
    border-radius: 20px;
    background: #459ce3;
    border: transparent;
    font-family: "Poppins";
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    //margin: 2.50rem auto;
}

button:hover {
    background: #215681;
    -webkit-box-shadow: -1px -1px 5px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px -1px 5px -2px rgba(0, 0, 0, 0.75);
    box-shadow: -1px -1px 5px -2px rgba(0, 0, 0, 0.75);
}

.psw {
    a {
        color: #009CAA;
    }
}

.psw:hover {
    cursor: pointer;
}


/*****MEDIA QUERIES************/

@media screen and (max-width: 800px) {
    .right-side {
        background: #534e4e;
        display: none;
    }
    // .heading {
    //     margin-left: 3.19rem;
    // }
    .login-container {
        display: contents;
        // grid-auto-flow: column;
        // grid-template-columns: 1fr 1fr;
        // height: 100vh;
    }
}

@media screen and (max-width: 500px) {
    button {
        height: 40px;
        width: 110px;
        font-size: 17px;
        margin-top: 11px;
    }
    h1 {
        font-size: 25px;
    }
    input[type=email],
    input[type=password] {
        height: 40px;
    }
    .psw {
        a {
            color: #009CAA;
            font-size: 12px;
        }
    }
    .change {
        a {
            font-size: 14px;
        }
    }
    .forgot-password {
        display: block;
        input {
            height: 11px;
            width: 11px;
            margin-bottom: 10px;
        }
    }
}

@media screen and (max-width: 400px) {
    h1 {
        font-size: 18px;
    }
    .change {
        a {
            font-size: 12px;
        }
    }
    .forgot-password {
        display: block;
    }
}
