<div class="login-container">
    <div class="login-box">
        <div class="logo">
            <img src="../../assets/lemla.jpeg" alt="" srcset="">
        </div>
        <form [formGroup]="LogInForm" (ngSubmit)="onSubmit()">
            <div class="container">
                <h1>Login into your account</h1>
                <span class="email-checker" *ngIf="errorMessage"> Email or Password is invalid. Please try again</span>

                <input type="email" placeholder="email" formControlName="email">

                <input type="password" placeholder="Password" formControlName="password">

                <div class="forgot-password">
                    <span><input type="radio" name="rememberMe" id="" formControlName="rememberMe"> Remember me</span>
                    <div>
                        <span class="psw" (click)="onToggle()"><a  >Forgot password?</a></span>
                    </div>
                </div>


                <button type="submit">Login into your account</button>


            </div>
        </form>
    </div>
    <div class="right-side"></div>
</div>

<div *ngIf="forgot">
    <app-password (onResult)='onModalResult($event)'></app-password>
</div>