h2 {
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 20px;
    color: #808080;
}

.admin-tools {
    box-sizing: border-box;
}

ul {
    padding: 20px;
    list-style: none;
}

li {
    padding: 1px;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}

li span {
    font-size: 30px;
}

li a {
    text-decoration: none;
    color: #808080;
    padding: 10px;
    // padding-left: 20px;
    cursor: pointer;
}

.admin-tools li a {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.admin-tools-inbox li {
    display: grid;
}

.active {
    background-color: #FFFFFF;
    -webkit-box-shadow: -7px 2px 30px -16px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -7px 2px 30px -16px rgba(0, 0, 0, 0.75);
    box-shadow: -7px 2px 30px -16px rgba(0, 0, 0, 0.75);
    border-right: 10px solid #ED1E23;
}

// .active a {
//     color: #FFFFFF;
// }
.admin-tools-inbox {
    margin-top: 16px;
}

.border-up {
    border-top: 2px solid;
    width: 85%;
    margin-left: 20px;
    color: #808080;
}