<div class="admin-tools">
    <ul>
        <li><a href=""><span class="material-icons">
                home
                </span> General</a></li>
        <!-- The Sections the admin will create-->
        <li class="active"><a href=""><span class="material-icons">
                folder_open
                </span> Marketting</a></li>
        <li class="active"><a href=""><span class="material-icons">
                    folder_open
                    </span> Marketting</a></li>
        <li class="active"><a href=""><span class="material-icons">
                        folder_open
                        </span> Marketting</a></li>
        <li><a href=""><span class="material-icons">
                control_point
                </span> Create New Section</a></li>
    </ul>
    <div class="border-up"></div>
</div>
<div class="admin-tools-inbox">
    <h2>Administrator Tools</h2>
    <ul>
        <li class="active"><a href=""> Manage Users </a></li>
        <li><a href=""> Manage User Groups </a></li>
        <li><a href=""> Access Overview</a></li>
    </ul>
</div>