@mixin active() {
    background-color: #FFFFFF;
    -webkit-box-shadow: -7px 2px 30px -16px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -7px 2px 30px -16px rgba(0, 0, 0, 0.75);
    box-shadow: -7px 2px 30px -16px rgba(0, 0, 0, 0.75);
    // border-right: 10px solid #ED1E23;
    border-radius: 10px;
    span,
    p {
        color: #459ce3;
    }
}

ng-sidebar-container {
    display: none;
    height: 100vh;
}

.logo {
    height: 0;
    img {
        width: 202px;
        height: 74px;
        // margin-left: 4.3rem;
        // margin-top: 1.63rem;
    }
}

h2 {
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 13%;
    color: #808080;
}

.admin-tools {
    box-sizing: border-box;
    overflow: auto;
}

ul {
    padding: 5% 0 5% 10%;
    list-style: none;
}

p {
    margin-top: 0.8rem;
    font-size: 1.6rem;
}

li {
    padding: 0.2rem;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.44rem;
    letter-spacing: 0em;
    text-align: left;
    overflow: hidden;
    &:hover {
        @include active();
        border-right: none;
    }
}

li span {
    font-size: 30px;
}

li a {
    text-decoration: none;
    color: #808080;
    padding: 1.1rem;
    cursor: pointer;
}

.admin-tools li a {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2.9fr 1fr;
    overflow: none;
}

.admin-tools-inbox li {
    display: grid;
}

.active {
    @include active();
}

.admin-tools-inbox {
    margin-top: 1rem;
}

.border-up {
    border-top: 2px solid;
    width: 85%;
    margin-left: 1.25rem;
    color: #808080;
}

.admin-tools .custom-seciton {
    height: 33vh;
    overflow: auto;
    margin-top: 0.94rem;
    margin-bottom: 1rem;
}

.tooltip>span {
    height: 30px;
    width: 60px;
    font-size: 15px;
}

span>h4 {
    cursor: pointer;
}

.active2 {
    background-color: #FFFFFF;
    -webkit-box-shadow: -7px 2px 30px -16px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -7px 2px 30px -16px rgba(0, 0, 0, 0.75);
    box-shadow: -7px 2px 30px -16px rgba(0, 0, 0, 0.75);
    // border-right: 10px solid #ED1E23;
    border-radius: 10px;
    color: #459ce3;
}


/*.custom-seciton li:hover {
    @include active();
    border-right: none;
}*/

input {
    border: none;
    outline: transparent;
    border-bottom: 3px solid #ED1E23;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}


/*

@media screen and (max-width: 800px) {
    ng-sidebar-container {
        display: block;
        height: 100vh;
        width: 300px;
        .sidebar {
            margin-left: 15%;
            margin-top: 8%;
        }
        .bar1,
        .bar2,
        .bar3 {
            display: block;
            height: 10px;
            background-color: #ED1E23;
            width: 60px;
            margin: 6px 0px;
            transition: 0.4s;
        }
    }
     ::ng-deep .ng-sidebar {
        background-color: white;
        padding: 2rem 3rem;
        // width: 400px;
        box-shadow: 0 0 2.5rem rgba(85, 85, 85, 0.5);
    }
    ng-sidebar .admin-tools,
    .admin-tools-inbox {
        display: block;
    }
    ng-sidebar .admin-tools-inbox {
        display: block;
    }
    .admin-tools,
    .logo,
    .admin-tools-inbox {
        // margin-top: 30px;
        display: none;
    }
    li a {
        text-decoration: none;
        color: #ED1E23;
        padding: 0.63rem;
        cursor: pointer;
    }
}*/

// reset password template
// @import '../../styles/components/buttons';
@keyframes example {
    from {
        top: -100px;
        opacity: 0;
    }
    to {
        top: 0px;
        opacity: 1;
    }
}

.modal {
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    // ANIMATION
    animation-name: example;
    animation-duration: 1.5s;
}


/* Modal Content */

.modal-content {
    background-color: #fefefe;
    margin: 200px auto;
    padding: 19px;
    border: 1px solid #888;
    width: 400px;
    height: 86px;
    border-radius: 10px;
}

h4 {
    text-align: center;
    color: black;
    font-size: 18px;
}

input {
    width: 70%;
    // height: 40px;
    margin-top: 30px;
}

button {
    width: 106px;
    height: 40px;
    color: white;
    background-color: red;
    border: white;
    border-radius: 10px;
    font-size: 15px;
    margin-top: 15px;
    margin-left: 160px;
}

.section {
    display: flex;
}

.section {
    display: flex;
}

.position {
    display: block;
    margin-top: 20px;
}

.more-icons {
    // position: absolute;
    opacity: 0;
}

.admin-tools li a:hover .more-icons {
    opacity: 1;
}

.tooltip>span {
    background-color: white;
    height: 35px;
    width: 70px;
    h4 {
        color: black;
        padding-bottom: 7px;
        font-size: 15px;
        text-align: left;
    }
}

.tooltip>span>h4:hover {
    color: #459ce3;
    // background-color: #459ce3;
    // height: 17px;
    // width: 70px;
}
