<div>
    <div class="header">
        <h2>{{ResourceName}}</h2>
        <div class="right-side">

            <i class="material-icons" style="color: #ED1E23;">
          control_point
      </i>
            <a class="active" (click)="AddUser()">Add User</a>
        </div>
    </div>
    <div>
        <h3 *ngFor="let item of filesItemIds;">{{item}}</h3>
    </div>

    <div class="folders">
        <a class="folder-container" *ngFor="let item of files">
            <div class="component">
                <img src="https://img.icons8.com/fluent/48/000000/pdf.png" />
                <p>{{item.name| truncate: 12}}</p>
            </div>
        </a>
    </div>

</div>