<div>
    <div class="header">
        <div class="left-side">
            <span style="padding: 10px;
        margin: 0px 0px;
        font-weight: bold; cursor: pointer;" class="material-icons" (click)="onBack()">
        arrow_back
        </span>
            <h2>{{ResourceName}}</h2>
        </div>

        <div *ngIf="CurrentUser==ResourceOwner" class="right-side">

            <i class="material-icons" style="color: #ED1E23;">
          control_point
      </i>
            <a class="active" (click)="AddUser()">Add User</a>
        </div>
    </div>


    <div class="folders">
        <a class="folder-container" *ngFor="let item of files">
            <div class="component">
                <img *ngIf="item.itemType=='file' && item.contentType=='image/jpeg' ||item.itemType=='file' && item.contentType=='image/png' " src="../../../assets/image.png" style="height: 50px; width: 50px;" />
                <img *ngIf="item.itemType=='file' && item.contentType=='application/pdf'" src="../../../assets/pdf.png" style="height: 50px; width: 50px;" />
                <img *ngIf="item.itemType=='file' && item.contentType=='application/vnd.ms-powerpoint.presentation.macroEnabled.12' || item.itemType=='file' && item.contentType=='application/vnd.ms-powerpoint'" src="../../../assets/pp.png" style="height: 50px; width: 50px;"
                />
                <img *ngIf="item.itemType=='file' && item.contentType=='application/vnd.openxmlformats-officedocument.wordprocessingml.document'||item.itemType=='file' && item.contentType=='application/msword'" src="../../../assets/word.png" style="height: 50px; width: 50px;"
                />
                <img *ngIf="item.itemType=='file' && item.contentType=='application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' || item.contentType=='csv'" src="../../../assets/excel.png" style="height: 50px; width: 50px;" />
                <img *ngIf="item.itemType=='file' && item.contentType=='text/plain'" src="../../../assets/text.png" style="height: 50px; width: 50px;" />
                <p>{{ item.name | truncate: 12 }}</p>
            </div>

            <!-- tooltip -->
            <div class="toggler">
                <span class="more-icon material-icons">arrow_drop_down</span>
                <span id="hiddenText" class="material-icons clicktoshow" smart-tooltip-container>
          <span class="smart-tooltip stick stay-down overlay" id="tooltip">
            <div *ngIf="item.itemType == 'file'" class="text">
              <p>
                <a [href]="item.url" style="color: white; text-decoration: none"
                  >Download</a
                >
              </p>
            </div>
            <div class="text">
              <p (click)="onDelete()">Delete</p>
            </div>
          </span>
                </span>
            </div>
        </a>
    </div>
</div>
