.content {
    padding: 30px;
}

.head {
    font-weight: bold;
    font-size: 25px;
}

.folder {
    max-height: 70vh;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    // justify-content: center;
    margin: 0px 60px;
    overflow-x: hidden;
    /* overflow: auto; */
    overflow-y: auto;
    padding: 25px;
}

.folder a {
    padding: 25px;
    text-decoration: none;
}

.toggler {
    position: absolute;
    top: 2rem;
    right: 2.5rem;
    width: 2.5rem;
    height: 2.5rem;
    .more-icon {
        opacity: 0;
        padding: .2rem;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
    #hiddenText {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
}

.folder a:hover {
    background-color: rgba(34, 32, 32, 0.486);
}
