.container {
    height: 100vh;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 1fr 8fr;
    overflow-x: hidden;
}

.menu {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 4fr;
}

app-menu {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 1fr;
}

app-content {
    border-top-left-radius: 3.13rem;
    background-color: #E5E5E5;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 3fr 1fr;
}


/*
@media screen and (max-width: 800px) {
    .menu {
        display: block;
        // grid-auto-flow: column;
        // grid-template-columns: 1fr 4fr;
    }
    app-content {
        border-top-left-radius: 0rem !important;
        background-color: #E5E5E5;
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: auto;
    }
    

app-menu {
    display: block;
    position: fixed;
    width: 50vw;
    height: 90vh;
    background-color: white;
    // left: -200px;
    transition: all 500ms linear;
    cursor: pointer;
}

}

*/