.container {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 6rem repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas: "side head head head head" "side main main main main" "side main main main main" "side main main main main" "side main main main main";
}

app-login {
    margin: 0px;
    padding: 0px;
}

app-menu {
    grid-area: side;
    display: grid;
    grid-auto-flow: row;
}

app-nav-bar {
    grid-area: head;
}

app-content {
    grid-area: main;
    border-top-left-radius: 3.13rem;
    background-color: #E5E5E5;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 3fr 1fr;
}


/******************MEDIA QUERIES**************************/


/*
@media screen and (max-width: 800px) {
    .container {
        grid-template-columns: auto repeat(4, 1fr);
        grid-template-rows: 6rem repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        grid-template-areas: "side head head head head" "main main main main main" "main main main main main" "main main main main main" "main main main main main";
    }
    app-content {
        border-top-left-radius: 0rem !important;
        // background-color: red;
        display: block;
    }
    // app-menu {
    //     display: block;
    //     position: fixed;
    //     width: 50vw;
    //     height: 90vh;
    //     background-color: white;
    //     // left: -200px;
    //     transition: all 500ms linear;
    //     cursor: pointer;
    // }
}
*/