<div id="myModal" class="modal">
    <!-- forgot password details -->
    <div (click)="onBack(false)" style="position: absolute; left: 0; top: 0;width: 100%; height: 100%;background-color: rgba(0, 0, 0, 0.4); z-index: -1;">

    </div>
    <div class="modal-content">
        <form [formGroup]="forgotPassword" (ngSubmit)="onSubmit()">
            <h4>Please enter your Email</h4>
            <div>

            </div>
            <input type="email" placeholder="email" formControlName="forgotPassword">
            <div class="psd">
                <button type="submit">send</button>
            </div>

        </form>
    </div>

</div>