<div class="pad">
    <div class="header">
        <h2>Add a new user</h2>

        <!-- <div class="right-side">
            <i class="material-icons" style="color: #ED1E23;">
            control_point
        </i>
            <a class="active" href="#home">Add a New user</a>
        </div> -->

    </div>

    <div class="main">

        <form [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
            <input type="firstName" placeholder=" First Name" formControlName="firstName">
            <input type="LastName" placeholder=" Last Name" formControlName="lastName">
            <input type="Role" placeholder=" Role" formControlName="role">
            <input type="email" placeholder=" Email" formControlName="email">
            <div class="submit">
                <button style="background-color: rgb(250, 250, 250); border-color: rgb(192, 247, 111);" (click)="onCancel()">Cancel</button>
                <button type="submit" id="btn">Create New User</button>
            </div>
        </form>

    </div>

</div>