@import '../../../styles/components/manage-user';
.container {
    margin-top: 20px;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: auto auto 1fr;
}

.add-folder {
    padding: 0px;
    a {
        padding: 0px;
    }
}

h1 {
    margin: 0px 20px;
    font-weight: 900;
    font-size: 3rem;
}

<<<<<<< HEAD
.right {
    margin-left: 45%; // will change to 30% when it's responsive
=======
.righ {
    margin-left: 45%;
>>>>>>> 5e5dcf0c684a9f82c32265be14dea8e9f049ea71
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 4fr 3fr;
    padding: 10px;
    a {
        display: flex;
    }
    span,
    a,
    p {
        font-weight: bold;
        // color: rgba(0, 0, 0, 0.301);
    }
}

input {
    //border: none;
    width: 90px;
    //visibility: hidden;
}

.head {
    display: flex;
    margin: 0px;
    padding: 0px;
}

.beneath {
    display: flex;
    a {
        display: flex;
        padding: 0px;
    }
}

h1 {
    margin: 0px 20px;
    // font-size: 15px;
}

h4 {
    margin: 20px 50px;
    font-weight: 600;
}

.folders {
    max-height: 70vh;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    // justify-content: center;
    margin: 0px 60px;
    overflow: auto;
}

a {
    padding: 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    i {
        color: #459CE3;
    }
}

p {
    font-family: Poppins;
    // font-size: 16px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0em;
    width: 100px;
    color: black;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 20px;
}

#hiddenText {
    opacity: 0;
    padding: .2rem;
    display: block;
    position: absolute;
    top: 2rem;
    right: 2rem;
}

#hoverDiv {
    position: relative;
}

.folder-container:hover #hiddenText {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.692);
    color: white;
}

.component {
    position: relative;
}

.component:hover {
    background-color: rgba(0, 0, 0, 0.24);
}

.folder-container {
    position: relative;
}

#tooltip {
    //height: 90px;
    width: 90px;
}

.text {
    display: flex;
}

.text>p {
    font-size: 12px;
    color: white;
    // overflow: hidden;
    // line-height: 20px;
}