//@import '../../../styles/components/manage-user';
.container {
    margin-top: 20px;
}

// .right {
//     float: right;
// }
h1 {
    margin: 0px 50px;
    font-size: 15px;
}

.folders {
    max-height: 76vh;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    overflow: auto;
}

a {
    padding: 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    i {
        color: #459CE3;
    }
}

p {
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0em;
    width: 100px;
    color: black;
    text-overflow: ellipsis;
    overflow: hidden;
}
