@import '../../../styles/components/manage-user';
@import '../../../styles/components/buttons';
@import '../../../styles/components/modal';
h4 {
    text-align: center;
    color: #ED1E23;
    font-size: 20px;
}

.Mycontainer {
    // margin-top: 20px;
    // padding: 25px;
    padding: 25px 20px 25px 10px;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: auto auto 1fr;
}

.back {
    width: 25px;
    height: 25px;
    text-align: center;
    padding: 12px;
    // margin: 0px 0px;
    font-weight: bold;
    border-radius: 50%;
    box-sizing: border-box;
    background: white;
}

span:hover {
    cursor: pointer;
}

.add-folder {
    padding: 0px;
    a {
        display: flex;
        padding: 0px;
        grid-gap: 10px;
        align-items: center;
        p {
            margin-left: 10px;
            font-size: 13px;
        }
    }
}

h2 {
    margin: auto;
}

h3 {
    margin: auto 20px;
    font: 'Poppins';
    font-weight: 900;
    font-style: normal;
    font-size: 30px;
}

h1 {
    margin: 0px 20px;
    font-weight: 900;
    font-size: 3rem;
}

.ssp {
    display: flex;
    grid-gap: 10px;
    // grid-auto-flow: column;
    // grid-template-columns: 4fr 3fr;
    // padding: 10px;
    a {
        // display: flex;
        color: #808080;
    }
    span,
    a,
    p {
        font-weight: bold;
        color: #808080;
        margin: 0px;
        // color: rgba(0, 0, 0, 0.301);
    }
}

input {
    //border: none;
    width: 90px;
    //visibility: hidden;
}

.head {
    // display: flex;
    // margin: 0px;
    // padding: 0px;
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 7fr 4fr;
    align-items: center;
}

.beneath {
    display: flex;
    a {
        display: flex;
        padding: 0px;
        p {
            font-size: 13px;
        }
    }
}

h1 {
    margin: 0px 20px;
    // font-size: 15px;
}

h4 {
    margin: 20px 50px;
    font-weight: 600;
}

.folders {
    overflow-x: hidden;
    /* overflow: auto; */
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(120px, 100%), 1fr));
    grid-auto-rows: auto;
    gap: 0.5rem;
    margin-top: 3rem;
    // border: 1px solid red;
    height: 68vh;
}

a {
    padding: 13px;
    // padding-bottom: 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    i {
        color: #459CE3;
    }
}

p {
    font-family: Poppins;
    // font-size: 16px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0em;
    width: 100%;
    color: black;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 20px;
    margin: 0px;
}

.folder-container:hover .more-icon {
    opacity: 1;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.692), transparent);
    color: white;
}

.toggler {
    position: absolute;
    top: 2rem;
    right: 2.5rem;
    width: 2.5rem;
    height: 2.5rem;
    .more-icon {
        opacity: 0;
        padding: .2rem;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 21px;
        top: -19px;
    }
    #hiddenText {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 22px;
        top: -22px;
    }
}

#hoverDiv {
    position: relative;
}

.component {
    position: relative;
}

.component:hover {
    background-color: rgba(0, 0, 0, 0.24);
}

.folder-container {
    position: relative;
}

#Tooltip {
    //height: 90px;
    width: 100px;
    padding: 5px;
    -webkit-box-shadow: -1px 6px 13px -6px #000000;
    box-shadow: -1px 6px 13px -6px #000000;
}

// **IMAGE CONTANINER***//
// .img-container {
//     height: 20px;
// }
// .text {
//     //display: flex;
//     padding: 9px 0px 9px a {
//         text-decoration: none;
//         color: white;
//     }
// }
.text:hover {
    p {
        color: white;
        background: #459ce4;
    }
}

.second-tooltip {
    position: absolute;
    left: calc(90px + 20px);
    top: 0px;
    background-color: rgba(0, 0, 0, 0.596);
    color: white;
    border-radius: 5px;
    height: auto;
    // width: 50px;
    text-align: center;
    font-size: 15px;
    /* line-height: 50px; */
    padding: 5px;
    opacity: 0;
}

.second-tooltip h2:hover {
    background-color: #459ce3;
}

.text:hover .second-tooltip {
    //display: block;
    opacity: 1;
}

.text>p {
    font-size: 12px;
    color: white;
    margin: 0px;
    // overflow: hidden;
    // line-height: 20px;
}

.listtext {
    font-size: 12px;
    padding: 2px 10px;
    font-weight: 400;
    z-index: 2;
    color: #000000;
}

.smart-tooltip {
    padding: 0px;
    background: white;
    // height: 200px;
    p {
        font-weight: 500;
        color: black;
        padding: 5px 0px 5px 0px;
        margin: 0px;
    }
}

@media only screen and (max-width: 800px) {
    .head {
        // display: block;
        margin: 0px;
        padding: 0px;
    }
    .back {
        width: 35px;
        height: 35px;
        text-align: center;
        padding: 5px;
        font-weight: bold;
        border-radius: 50%;
        box-sizing: border-box;
        background: white;
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .toggler {
        position: absolute;
        top: 2rem;
        right: 2.5rem;
        width: 2.5rem;
        height: 2.5rem;
        .more-icon {
            opacity: 1;
            padding: .2rem;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 10px;
            top: -25px;
        }
        #hiddenText {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 10px;
            top: -25px;
        }
    }
}

.Modal {
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    background-color: #fefefe;
    margin: 200px auto;
    padding: 20px;
    border: 1px solid #888;
    width: 374px;
    height: 149px;
    border-radius: 10px;
}

@media screen and (max-width: 500px) {
    .head {
        // margin: 0px;
        // padding: 0px;
        // display: grid;
        // grid-auto-flow: column;
        grid-template-columns: auto 7fr;
        // align-items: center;
    }
    .folders {
        // margin-top: 6rem;
        grid-template-columns: repeat(2, 1fr);
    }
    .back {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .beneath a {
        display: flex;
        padding: 0px;
        margin-left: 35px;
    }
    .ssp {
        display: block;
        span {
            font-size: 18px;
        }
        .add-folder {
            margin-left: 32px;
            margin-bottom: 10px;
        }
    }
    .toggler {
        position: absolute;
        top: 2rem;
        right: 2.5rem;
        width: 2.5rem;
        height: 2.5rem;
        .more-icon {
            opacity: 1;
            padding: .2rem;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 1px;
            top: -25px;
        }
    }
}

@media screen and (max-width: 370px) {
    .head {
        display: flex;
        flex-wrap: wrap;
    }
    .toggler {
        position: absolute;
        top: 2rem;
        right: 2.5rem;
        width: 2.5rem;
        height: 2.5rem;
        .more-icon {
            opacity: 1;
            padding: .2rem;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 18px;
            top: -25px;
        }
    }
    .ssp {
        display: flex;
        margin-top: 10px;
    }
}


/*******FOLDERS**********/

.folders {
    overflow-x: hidden;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr));
    grid-auto-rows: auto;
    /* gap: 0.5rem; */
    margin-top: 3rem;
    height: 68vh;
}


/*****IMAGE FOLDER******/

.image-box {
    // width: 200px;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    // box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.75);
    // -webkit-box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.75);
    // -moz-box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    // border-bottom-right-radius: 5px;
    // border-bottom-left-radius: 5px;
    overflow: hidden;
    border-radius: 8px;
}

.image__background {
    // background: url("https://render.fineartamerica.com/images/rendered/default/print/8/12/break/images/artworkimages/medium/2/1-hotel-du-cap-eden-roc-slim-aarons.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100px;
    // border-top-right-radius: 5px;
    // border-top-left-radius: 5px;
}

iframe {
    width: calc(100% + 2rem);
    overflow: hidden;
    height: 100px;
}

.image__content {
    display: flex;
    width: 100%;
    align-content: center;
    padding: 5px 0px;
    background: white;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 30px;
    align-items: center;
    p {
        margin: 0px;
        padding: 0px 3px;
        font-size: 15px;
        width: auto;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.image__content img {
    padding: 0px 5px;
    height: 25px;
}