.nav-bar {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

.logo {
    img {
        width: 200px;
        height: 55px;
        margin: 10px 0 0 25px;
        // margin-left: 4.3rem;
        // margin-top: 1.63rem;
    }
}

.notifications {
    position: relative;
    span,
    img {
        cursor: pointer;
        font-size: 45px;
        margin-right: 3rem;
        border-radius: 50%;
        background-color: #E5E5E5;
        height: 50px;
        width: 50px;
    }
}

#hiddenText {
    color: black;
    padding: 10px;
    background-color: #ffffff;
    -webkit-box-shadow: -1px -1px 5px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px -1px 5px -2px rgba(0, 0, 0, 0.75);
    box-shadow: -1px -1px 5px -2px rgba(0, 0, 0, 0.75);
    p {
        font-size: 20px;
        text-align: center;
    }
    h3,
    img {
        margin: 0px 74px 20px 75px;
        cursor: pointer;
        font-size: 90px;
        color: #459cE3;
    }
    h5 {
        font-size: 25px;
        text-align: center;
        font-family: 'Poppins';
        font-weight: 500;
    }
    h6 {
        font-size: 16px;
        text-align: center;
    }
    p {
        // margin-top: 12px;
        padding: 15px;
        cursor: pointer;
    }
    p:hover {
        color: white;
        background-color: red;
    }
}

.profile {
    padding: 10px;
    border-radius: 15px;
    i {
        position: absolute;
        left: 130px;
        top: 50px;
        padding: 15px;
        color: #459cE3;
        font-size: 25px;
        cursor: pointer;
    }
}

#file-upload {
    display: none;
}

.ta :hover {
    color: blue;
    cursor: pointer;
}


/*********SEARCH BOX**********************/

.search-box {
    position: relative;
    flex-grow: 1;
    margin-left: 10rem;
}

.search-box span {
    position: absolute;
    top: 26%;
    left: 2%;
    font-size: 30px;
}

#search {
    font-size: 18px;
    width: 80%;
    padding: 1.2rem;
    padding-left: 5.5rem;
    border-radius: 3rem;
    outline: none;
    border: transparent;
    background: #E5E5E5;
    font-size: 18px;
    width: 75%;
    padding: 1.2rem;
    padding-left: 5.5rem;
    border-radius: 3rem;
    outline: none;
    border: transparent;
    background: #E5E5E5;
}

.sidebar {
    display: none;
}

@media screen and (max-width: 800px) {
    .nav-bar {
        height: 6rem;
        margin-top: 0px;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    }
    .sidebar {
        display: block;
        margin: 0 3rem;
        .bar1,
        .bar2,
        .bar3 {
            display: block;
            height: 3px;
            background-color: black;
            width: 30px;
            margin: 6px 0px;
            border-radius: 20px;
            transition: 0.4s;
        }
        .bar2 {
            width: 20px !important;
        }
    }
    #search {
        width: 275px;
        font-size: 11px;
    }
    .search-box {
        margin-left: 5rem;
        span {
            top: 17%;
        }
    }
    .logo {
        img {
            width: 100px;
            height: 30px;
        }
    }
}