<div class="nav-bar">
    <div class="logo">
        <img src="../../assets/lemla.jpeg" alt="" srcset="">
    </div>
    <div class="search-box">
        <span class="material-icons">
            search
            </span>
        <input type="search" name="search-box" id="search" placeholder="Search for a specific document or a person using a keyword">
    </div>
    <div class="notifications">
        <span class="material-icons">
            notifications_none
            </span>
    </div>

</div>