<div class="nav-bar">
    <div class="sidebar" [ngClass]="{'change': cross}" (click)="onToggleMenu()">
        <span class="bar1"></span>
        <span class="bar2"></span>
        <span class="bar3"></span>
    </div>
    <div class="logo" (click)="onHome()" style="cursor: pointer;">
        <img src="../../assets/konvy.png" alt="" srcset="">
    </div>
    <div class="search-box">
        <input type="checkbox" name="searchbox" id="searchbox">
        <label for="searchbox"><span class="material-icons"> search </span></label>
        <input type="search" name="search-box" id="search" placeholder="Search for a specific document" (keyup)="updateSearch($event.target.value)" />
    </div>

    <div *ngIf="user" class="notifications">
        <div smart-tooltip-container class="clicktoshow">

            <span *ngIf="!user.photo" class="material-icons"> account_circle </span>
            <img *ngIf="user.photo" style="height: 40px;width: 40px;border-radius: 50%;" src={{user.photo}}>
            <!--class="smart-tooltip stay-left stick-100 stayonhover"-->
            <div class="profile-container" id="hiddenText">

                <div class="profile">

                    <div class="profile__user">
                        <!-- <h3 *ngIf="!user.photo" class="material-icons"> account_circle </h3> -->
                        <span class="material-icons"> account_circle </span>
                        <!-- <img *ngIf="user.photo" src={{user.photo}}> -->
                        <div class="change__profile">
                            <i class="fa fa-camera" (click)="changeProfile($event)"></i>
                            <input id="file-upload" type="file" accept="image/*" (change)="onChange($event)" />
                        </div>
                    </div>

                    <div class="profile__details">
                        <h2>{{user.firstName}} {{user.lastName}}</h2>
                        <h4>{{user.email}}</h4>
                    </div>

                </div>
                <div class="profile__links">
                    <div class="subscription">
                        <p (click)="onsubscription()"> Subscription </p>
                    </div>
                    <div class="logout">
                        <!-- <hr/>
                    <p (click)="reset()" routerLinkActive="active" style="padding: 10px;"> Reset password</p> -->

                        <p class="ta" (click)="onLogOut()">logout</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>