<div class="nav-bar">
    <!-- <div class="sidebar">
        <span class="bar1"></span>
        <span class="bar2"></span>
        <span class="bar3"></span>
    </div> -->
    <div class="search-box">
        <span class="material-icons">
            search
            </span>
        <input type="search" name="search-box" id="search" placeholder="Search for a specific document" (keyup)="updateSearch($event.target.value)" />
    </div>
    <div class="notifications" (click)="onLogOut()">
        <span class="material-icons">
            logout
        </span>

    </div>


</div>