<div class="login-container">
    <div class="login-box">
        <div class="logo">
            <img src="../../assets/konvy.png" alt="" srcset="">
        </div>
        <form [formGroup]="SignUpForm" (ngSubmit)="onSubmit()">
            <div class="Mycontainer">
                <h1>SignUp</h1>
                <!-- <span class="email-checker" *ngIf="errorMessage"> Email or Password is invalid. Please try again</span> -->
                <input type="text" placeholder="company Name" formControlName="companyName">

                <input type="email" placeholder="company Email" formControlName="email">

                <input type="phone" placeholder="(+233)......" formControlName="contact">

                <select #dropDown class='drop-down' formControlName="country">
                    <!-- <option [value]="countries[85].name" selected>{{countries[85].name}}</option> -->
                    <option [value]="country.name" *ngFor="let country of countries"> {{country.name}}</option>
                </select>

                <!-- <input type="text" placeholder="Country" formControlName="country"> -->

                <!-- <input type="text" placeholder="Description" formControlName="description"> -->
                <select  class='drop-down' formControlName="description" [(ngModel)]="defaultIndustry">
                    <option disabled>Choose an Industry</option>
                    <option value="Advertising, Media & Communication" >Advertising, Media & Communication</option>
                    <option value="Automotive & Aviation" >Automotive & Aviation</option>
                    <option value="Banking, Finance & Insurance" >Banking, Finance & Insurance </option>
                    <option value="Construction" >Construction</option>
                    <option value="Education" >Education</option>
                    <option value="Energy & Utilities" >Energy & Utilities</option>
                    <option value="Entertainment, Events & Sports" >Entertainment, Events & Sports</option>
                    <option value="Healthcare" >Healthcare</option>
                    <option value="Hospitality & Hotel" >Hospitality & Hotel</option>
                    <option value="IT & Telecoms" >IT & Telecoms</option>
                    <option value="Legal Services" >Legal Services</option>
                    <option value="Manufacturing & Warehousing" >Manufacturing & Warehousing</option>
                    <option value="Mining, Energy & Metals" >Mining, Energy & Metals</option>
                    <option value="NGO, NPO & Charity" >NGO, NPO & Charity</option>
                    <option value="Real Estate" >Real Estate</option>
                    <option value="Recruitment" >Recruitment</option>
                    <option value="Retail & Fashion" >Retail & Fashion</option>
                    <option value="Shipping & Logistics" >Shipping & Logistics</option>
                    <option value="Tourism & Travel" >Tourism & Travel</option>
                </select>

                <select  class='drop-down' formControlName="subscription"  [(ngModel)]="defaultSubscription">
                    <option disabled>Subscription Type</option>
                    <option [value]="plan.type " *ngFor="let plan of subscriptionPlans"> {{plan.type}}</option>
                </select>

                <div class="change">
                    <button type="submit"> Sign Up</button>
                    <a (click)="onLogin()"> <u>Already have an account? <strong> Login</strong></u></a>
                </div>
            </div>
        </form>
    </div>
    <div style="background-image: url(../../assets/land.jpg);background-size: cover;background-repeat: no-repeat;background-position: center; background-color: #eaebfd;" class="right-side"></div>
</div>