.login-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

h1 {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 40px;
}

.right-side {
    background: #ED1E23;
}

.login-box {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 1fr 6fr;
    box-sizing: border-box;
    padding-left: 40px;
}

.logo img {
    width: 13.25rem;
    height: 5.56rem;
    // margin-left: 4.3rem;
    margin-top: 1.63rem;
}

form {
    font-family: 'Poppins';
    background: #FFFFFF;
    width: 90%;
    margin-top: 1.13rem;
    border-radius: 1.25rem;
    // -webkit-box-shadow: -1px -1px 5px -2px rgba(0, 0, 0, 0.75);
    // -moz-box-shadow: -1px -1px 5px -2px rgba(0, 0, 0, 0.75);
    // box-shadow: -1px -1px 5px -2px rgba(0, 0, 0, 0.75);
    box-sizing: border-box;
    padding: 1.25rem;
    margin-left: 1.25rem;
}

.container {
    // display: grid;
    //grid-template-rows: 2fr 1.2fr 1fr 3fr 3fr 1.3fr;
    // grid-template-rows: 1fr 1.2fr 1fr 1fr 3fr 1.3fr;
    h3 {
        font-family: 'Poppins';
        font-size: 20px;
        font-style: normal;
        font-weight: 900;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        color: #009CAA;
    }
}

.email-checker {
    text-align: center;
    margin: 1.50rem;
    color: red;
}

input {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0 15px;
    display: inline-block;
    border: 2px solid;
    box-sizing: border-box;
    font-family: "Poppins";
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    border-radius: 10px;
}

// input[type=number] {
//     width: 90%;
//     padding: 12px 20px;
//     margin: 8px 0;
//     display: inline-block;
//     border: 2px solid;
//     box-sizing: border-box;
//     font-family: "Poppins";
//     font-size: 1.8rem;
//     font-style: normal;
//     font-weight: 400;
//     line-height: 30px;
//     letter-spacing: 0em;
//     border-radius: 10px;
// }
.forgot-password {
    margin-top: 1.25rem;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 2fr 1fr;
    font-size: 1.6rem;
    input {
        width: 1.8rem;
        height: 1.8rem;
        margin-right: 0.63rem;
        // margin-top: 0.19rem;
    }
}

button {
    height: 6.5rem;
    width: 18rem;
    border-radius: 20px;
    background: #459ce3;
    ;
    border: transparent;
    font-family: "Poppins";
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    -webkit-box-shadow: -1px -1px 5px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px -1px 5px -2px rgba(0, 0, 0, 0.75);
    box-shadow: -1px -1px 5px -2px rgba(0, 0, 0, 0.75);
    //margin: 2.50rem auto;
}

.change {
    display: grid;
    justify-content: space-between;
    a {
        font-family: "Poppins";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 60px;
    }
    a:hover {
        color: #009CAA;
        cursor: pointer;
        strong {
            font-weight: bold;
        }
    }
}

.psw {
    a {
        color: #009CAA;
    }
}

.psw:hover {
    cursor: pointer;
}


/*****MEDIA QUERIES************/

@media screen and (max-width: 900px) {
    .right-side {
        background: #534e4e;
        display: none;
    }
    // .heading {
    //     margin-left: 3.19rem;
    // }
    .login-container {
        display: contents;
        // grid-auto-flow: column;
        // grid-template-columns: 1fr 1fr;
        // height: 100vh;
    }
}


/*
@media screen and (max-width: 600px) {
    form {
        width: 100vw;
        margin-left: 0px;
    }
    app-why-us {
        display: none;
    }
}

@media screen and (max-width: 375px) {
    .container {
        padding: 1.5rem 0rem 0rem 0rem;
    }
    .login-box {
        margin-left: 2rem;
    }
    form {
        width: 100%;
        margin-left: 0.4rem;
    }
    .heading {
        margin-left: 2.4rem;
    }
    button {
        margin-bottom: 0.50rem;
    }
    app-why-us {
        display: none;
    }
}

@media screen and (max-width: 360px) {
    .container {
        padding: 0rem;
        h3 {
            font-size: 15px;
        }
    }
    .email-checker {
        margin-top: 0.31rem;
        margin-right: 32px;
        padding: 0px;
        font-size: 11px;
    }
    input[type=email],
    input[type=password] {
        padding: 0px 2px;
        width: 100%;
    }
    .psw {
        font-size: 13px;
    }
    .signup {
        font-size: 11px;
    }
    .login-box {
        margin-left: 2rem;
        margin-top: 1rem;
    }
    form {
        width: 100%;
        margin-left: 0.4rem;
    }
    .heading {
        h3 {
            font-size: 15px;
        }
        h1 {
            font-size: 20px;
        }
    }
    button {
        margin: 1.5rem auto;
        height: 3rem;
        width: 13rem;
        font-size: 15px;
    }

}*/