<div>
    <div class="header">
        <h2>Shared Resources</h2>
        <div class="right-side" style="cursor: pointer;">
            <i class="material-icons" style="color: #ed1e23; font-weight: 500;
            font-style: normal;
            font-size: 26px;"> control_point </i>
            <a class="active" (click)="onAdd()">Add a new resource</a>
        </div>
    </div>
    <div class="container">
        <div class="main">
            <div class="content-1">
                <h5>Resource Name</h5>

                <h5>Date Created</h5>
                <h5>Action</h5>
            </div>
            <div class="list-container" style="cursor: pointer;">
                <ul class="list" *ngFor="let resource of resources|async; let i = index">
                    <li>
                        <div class="box-1" (click)="onSelected(resource)" [routerLink]="[i, resource.name]">
                            <h2>{{ resource.name }}</h2>

                            <h2>{{ resource.date }}</h2>
                            <h2>
                                <div class="sps">
                                    <span (click)="onEdit(resource)" class="material-icons" style="background-color: white">
                                            create
                                            </span>
                                    <span (click)="onDeleteGroup(resource.id,$event)">
                                    <span class="material-icons" style="background-color: white">
                                        delete_outline
                                    </span>
                                    </span>
                                </div>
                            </h2>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="border"></div>
            <!----External Shared Resources-->
            <div class="main-2">
                <h2>External Shared Resources</h2>
                <div class="list-container" style="cursor: pointer;">
                    <ul class="list" *ngFor="let resource of externalResources; let i = index">
                        <li>
                            <div class="box-1" (click)="getResource(resource.id)" [routerLink]="[i, resource.name]">
                                <h2>{{ resource.name }}</h2>


                                <div>
                                    {{resource.owner}}
                                    <!-- <div class="sps">
                                        <span>
                      <span (click)="onDeleteGroup(resource.id,$event)" class="material-icons" style="background-color: white">
                        {{resource.owner}}
                      </span>
                                        </span>
                                    </div> -->
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="modal" *ngIf="modalState">
            <app-modal [title]="message" (onResult)="onModalResult($event)"></app-modal>
        </div>


    </div>
</div>