@keyframes move {
    from {
        left: 0px;
    }
    to {
        left: 300px;
    }
}

.approvals-container {
    // border: 1px solid red;
    position: relative;
    margin: 7%;
    display: grid;
    grid-template-rows: 0.5fr 1fr;
}

h1 {
    font-size: 2.3rem;
    font-weight: 900;
}

.d-container {
    height: 63.5vh;
    overflow: auto;
}

.sent-recieve {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    font-size: 2rem;
    padding: 15px 0px;
    // margin-bottom: 2rem;
    a {
        text-decoration: none;
        // color: #808080;
        text-align: center;
        cursor: pointer;
        // font-weight: 400;
    }
}

.msgs {
    position: relative;
    display: flex;
}

.active {
    border-bottom: 3px solid #459ce3;
    font-weight: bold;
    width: 70%;
    color: #459ce3;
    font-weight: bold;
}

p {
    position: absolute;
    top: -6px;
    left: 95px;
    font-size: 10px;
    background-color: red;
    color: white;
    padding: 5px;
    width: 1.4rem;
    text-align: center;
    height: 1.4rem;
    border-radius: 100%;
}

.numvan {
    p {
        display: none;
    }
}

input {
    display: none;
}

.close {
    display: none;
}

@media screen and (max-width: 800px) {
    .Mycontainer {
        display: none;
    }
    .approvals-container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // padding: 0px 45px;
        background: white;
        width: 65%;
        margin: 5rem auto 0px auto;
        h1 {
            padding: 0px;
            text-align: center;
            background: #459ce3;
            padding: 9px;
            color: white;
        }
        .options,
        .d-container {
            padding: 0px 45px;
        }
        .d-container {
            height: 75vh;
            overflow-y: auto;
        }
    }
    .close {
        display: block;
        position: absolute;
        width: 4rem;
        border-radius: 50%;
        height: 4rem;
        text-align: center;
        left: 2rem;
        top: 1rem;
        background: white;
        cursor: pointer;
        span {
            font-size: 3.3rem;
            padding: 0.4rem;
        }
    }
    #open-permissions:checked~.Mycontainer {
        display: block;
        position: absolute;
        /* top: -219px; */
        background: rgba(0, 0, 0, 0.21);
        top: -22rem;
        width: 100vw;
        right: -30.1rem;
        height: 120vh;
        z-index: 200;
    }
    .app-chat {
        display: none;
    }
    #open-chatbox:checked~.app-chat {
        display: block;
        background: rgba(0, 0, 0, 0.21);
        position: absolute;
        width: 100vw;
        right: -30.1rem;
        height: 120vh;
        top: -22rem;
        z-index: 210;
    }
}

@media screen and (max-width: 500px) {
    .approvals-container {
        width: 90%;
        margin: 7rem auto 0px auto;
        .options,
        .d-container {
            padding: 0px 25px;
        }
    }
    .close {
        left: 0.6rem;
    }
    .msgs {
        p {
            left: 100px;
        }
    }
}

@media screen and (max-width: 330px) {
    .approvals-container {
        .options,
        .d-container {
            padding: 0px 10px;
        }
    }
}