@keyframes move {
    from {
        left: 0px;
    }
    to {
        left: 300px;
    }
}

.container {
    // border: 1px solid red;
    margin: 7%;
    display: grid;
    grid-template-rows: 0.5fr 1fr;
}

h1 {
    font-size: 2.3rem;
    font-weight: 900;
}

.active {
    border-bottom: 3px solid #ED1E23;
    width: 70%;
    animation-timing-function: linear;
    animation: move 1s
}

.d-container {
    height: 70vh;
    overflow: auto;
}

.sent-recieve {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    font-size: 2rem;
    padding: 15px 0px;
    margin-bottom: 2rem;
    a {
        text-decoration: none;
        color: black;
        text-align: center;
        cursor: pointer;
        font-weight: 400;
    }
}

.msgs {
    position: relative;
    display: flex;
}

p {
    opacity: 1;
    position: absolute;
    top: -10px;
    left: 95px;
    font-size: 12px;
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 20px;
}

.numvan {
    p {
        display: none;
    }
}
