@keyframes move {
    from {
        left: 0px;
    }
    to {
        left: 300px;
    }
}

.Mycontainer {
    // border: 1px solid red;
    position: relative;
    margin: 7%;
    display: grid;
    grid-template-rows: 0.5fr 1fr;
}

h1 {
    font-size: 2.3rem;
    font-weight: 900;
}

.d-container {
    height: 63.5vh;
    overflow: auto;
}

.sent-recieve {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    font-size: 2rem;
    padding: 15px 0px;
    margin-bottom: 2rem;
    a {
        text-decoration: none;
        // color: #808080;
        text-align: center;
        cursor: pointer;
        // font-weight: 400;
    }
}

.msgs {
    position: relative;
    display: flex;
}

.active {
    border-bottom: 3px solid #459ce3;
    font-weight: bold;
    width: 70%;
    color: #459ce3;
    font-weight: bold;
}

p {
    opacity: 1;
    position: absolute;
    top: -10px;
    left: 95px;
    font-size: 12px;
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 20px;
}

.numvan {
    p {
        display: none;
    }
}
