<div>
    <div class="header">
        <h2>Manage Users</h2>
        <div class="right-side" style="cursor: pointer">
            <i class="material-icons" style="color:rgb(94, 119, 230); font-weight: 500;
        font-style: normal;
        font-size: 26px;">
          control_point
      </i>
            <a *ngIf="users.count<userCapacity" class="active" (click)="addPage()">Add a New user</a>
        </div>
    </div>

    <div class="main">

        <table class="content-table">
            <!-- heading of the table ---->
            <thead>
                <tr>

                    <th>Email</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Role</th>
                    <th>Action</th>
                </tr>
            </thead>
            <!---- content in the table-->
            <tbody>
                <tr *ngFor="let item of users|async;">
                    <td>{{item.email }}</td>
                    <td>{{item.firstName}}</td>
                    <td>{{item.lastName}}</td>
                    <td>{{item.role}}</td>
                    <!----Action tools-->
                    <td>
                        <div class="sps">
                            <span class="material-icons" (click)="OnSettings(item.email)">
                            settings
                            </span>
                            <span class="material-icons" (click)="onEdit(item)">
                            create
                            </span>
                            <span class="material-icons" (click)="Ondelected(item)">
                            delete_outline
                            </span>
                        </div>
                    </td>

                </tr>
            </tbody>
        </table>

    </div>


    <div class="Modal" *ngIf="modalState">
        <app-modal [title]="message" (onResult)="onModalResult($event)"></app-modal>
    </div>
</div>
