<div class="header">
    <h1>Manage Users</h1>
    <div class="right-side">
        <i class="material-icons" style="color: rgba(113, 183, 27, 0.88);">
          control_point
      </i>
        <a class="active" href="#home">Add a New user</a>
    </div>
</div>

<div class="main">

    <div class="content-1">
        <h5>Email</h5>
        <h5>First Name</h5>
        <h5>Last Name</h5>
        <h5>Role</h5>
        <h5>Action</h5>
    </div>

    <ul class="list">

        <div class="box-1">
            <h2>mr.adumatta</h2>
            <h2>Nana</h2>
            <h2>Kweku</h2>
            <h2>Director</h2>
            <h2>
                <div class="sps">
                    <span class="material-icons" style="background-color: white;">
                  create
                  </span>
                    <span class="material-icons" style="background-color: white;">
              delete
              </span>
                </div>

            </h2>
        </div>

        <div class="box-1">
            <h2>justice.addico.ja@gmail.com</h2>
            <h2>Justice</h2>
            <h2>Addico</h2>
            <h2>Developer</h2>
            <h2>
                <div class="sps">
                    <span class="material-icons" style="background-color: white;">
                  create
                  </span>
                    <span class="material-icons" style="background-color: white;">
              delete
              </span>
                </div>
            </h2>
        </div>

    </ul>


</div>