@import '../../../styles/components/item-box';
@import '../../../styles/components/manage-user';
.main {
    padding: 2.2rem 1.25rem;
    overflow: auto;
}

.material-icons {
    cursor: pointer;
}

a {
    cursor: pointer;
}

// @media only screen and (max-width: 845px) {
//     .header {
//         display: block;
//         padding: 0.63rem 1.25rem;
//         align-items: center;
//     }
// }
